.home-grid-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home-flexbox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-card-margin{
    margin-top: 10vh;
}

.card-item{
    margin-top: 10vh;
    /* transition: all 0.2s ease-in; */
}


.loading-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.grid-body{
    padding: 10vh 2vw;
}